click-fill{
  svg{
    width:100%;
    height:100%;
  }
}
.test{
  width:800px;
  height:500px;
  border:2px solid black;
}
.to-fill{
  stroke:black;
  transition:all 0.5s;
  stroke-width:2;
}
.to-fill.filled{
  stroke:#FF5722;
  stroke-width:10;
}
