<div class="test">
  <click-fill color="{start:'#FF5722', end:'#FFEB3B', stroke:'#E65100'}" transition-time="{open:300,close:200}" path="star" identifier="'afwfafas'"></click-fill>
</div>
<div class="test">
  <click-fill color="{start:'#C2185B', end:'#EC407A', stroke:'#880E4F'}" transition-time="{open:300,close:200}" path="heart" identifier="'asfaf'"></click-fill>
</div>
<div class="test2">
  <click-fill color="{start:'#757575', end:'#212121', stroke:'#757575'}" transition-time="{open:300,close:200}" path="graduation" identifier="'1233'"></click-fill>
</div>

<div class="test">
  <click-fill color="{start:'#0097A7', end:'#00BCD4', stroke:'#0097A7'}" transition-time="{open:300,close:200}" path="group" identifier="'2145125125'"></click-fill>
</div>
<div class="test2">
  <click-fill color="{start:'#5D4037', end:'#9E9E9E', stroke:'#3E2723'}" transition-time="{open:200,close:100}" path="square" identifier="'asfaafaw'"></click-fill>
</div>
